.main-window {
	border: solid 2px black;
	display: inline-block;
	background-color: rgb(204, 243, 167);
}
/* Start Button */
.start-game {
	box-shadow: inset 0px 1px 0px 0px #a4e271;
	background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color: #89c403;
	border-radius: 6px;
	border: 1px solid #74b807;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528009;
}
.start-game:hover {
	background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color: #77a809;
}
.start-game:active {
	position: relative;
	top: 1px;
}

/* Stop Button */
.stop-game {
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color: #f24537;
	border-radius: 6px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
}
.stop-game:hover {
	background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color: #c62d1f;
}
.stop-game:active {
	position: relative;
	top: 1px;
}
/* Randaom Button */
.random-spreed {
	box-shadow: inset 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}
.random-spreed:hover {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
}
.random-spreed:active {
	position: relative;
	top: 1px;
}
/* Clear Button */
.clear-field {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
.clear-field:hover {
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color: #e9e9e9;
}
.clear-field:active {
	position: relative;
	top: 1px;
}
.option-wrapper {
	margin: 16px;
	border-radius: 15px;
	padding: 20px;
	display: inline-block;
	background-color: gray;
}
label {
	display: inline-block;
	color: #000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 0px 6px 24px;
	text-decoration: none;
}
input {
	display: inline-block;
	width: auto;
	color: #000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
/* .x-axis {
	transform: rotate(-90deg);
} */

.current-cycle {
	display: inline-block;
	width: auto;
	color: #000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.field-line {
	display: flex;
}
.field-square {
	height: 8px;
	width: 8px;
	border: 1px solid black;
	border-radius: 25%;
}
.field-square:hover {
	background-color: gray;
}

.field-square.alive {
	background-color: black;
}
