.main-window {
	border: solid 2px black;
	display: inline-block;
	background-color: rgb(204, 243, 167);
}
.field-line {
	display: flex;
}
.field-square {
	height: 8px;
	width: 8px;
	border: 1px solid black;
	border-radius: 50%;
}

.field-square.alive {
	background-color: black;
}
